:root {
  --primary-background-color: #0b0f19;
  --secondary-background-color: #1f2937;
  --primary-text-color: #ffffff;
  --secondary-text-color: #9ca3af;
  --border-color: #374151;
  --border-radius: 0.3rem;
  --accent: #0060df;
  --error: #f44336;
}

* {
  box-sizing: border-box;
  color: var(--primary-text-color);

  font-family: "Roboto Mono", monospace;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-background-color);
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
  font-size: 0.875rem;
}

input {
  border: none;
  outline: 1px solid var(--border-color);
  background-color: var(--secondary-background-color);
  border-radius: var(--border-radius);
}

header > input {
  max-width: 23rem;
  min-width: 3rem;
}

#online-indicator {
  width: 1rem;
  height: 1rem;
  flex: 0 0 auto;

  border-radius: 50%;

  background-color: var(--error);
}

#online-indicator.online {
  background-color: var(--accent);
}

#online-indicator.online > .blink {
  width: inherit;
  height: inherit;

  background-color: inherit;
  opacity: 0.7;
  border-radius: 50%;

  animation: blink 1s linear infinite;
}

@keyframes blink {
  100% {
    transform: scale(2, 2);
    opacity: 0;
  }
}

nav {
  padding-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#tab-list {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;

  padding-top: 1px;
  padding-right: 1px;
}

#tab-list > li {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;

  background-color: var(--secondary-background-color);
  outline: 1px solid var(--border-color);

  cursor: pointer;
  color: var(--secondary-text-color);
}

#tab-list > li.active {
  background-color: var(--primary-background-color);
  outline: none;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);

  margin-bottom: -1px;
  color: var(--primary-text-color);
}

svg {
  stroke: var(--primary-text-color);
  fill: var(--primary-text-color);
  cursor: pointer;

  flex: 0 0 auto;
}
#tab-list > li > div {
  display: flex;
  background-color: inherit;
}
#add-tab {
  display: flex;
  background-color: var(--secondary-background-color);
  align-items: center;
  outline: 1px solid var(--border-color);
  padding: 0.5rem;

  cursor: pointer;
  margin-left: 1px;
  margin-top: 1px;
  z-index: 1;
}

textarea {
  background-color: var(--secondary-background-color);
  width: 100%;
  min-height: 2rem;
  padding: 0.5rem;

  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: vertical;

  font-size: 0.875rem;
  line-height: 1.43;
}

#tab-settings {
  margin: 1rem;
  margin-top: 0;
}

article {
  padding: 1rem;
  border: 1px solid var(--border-color);
  display: none;
}

article * {
  border-radius: var(--border-radius);
}

article.active {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

summary {
  direction: rtl;
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.iterations {
  width: 3.5rem;
  font-size: 1rem;

  border-radius: var(--border-radius) var(--border-radius) 0 0;

  margin-bottom: 1px;
}

.progress {
  width: 3.5rem;
  text-align: center;
  border-radius: 0 0 var(--border-radius) var(--border-radius);

  border: none;
  outline: 1px solid var(--border-color);
  background-color: var(--secondary-background-color);
}

.controls button {
  width: 5rem;
  height: 3rem;

  border: none;
  outline: none;
  background-color: var(--accent);

  cursor: pointer;
}

button.can-stop {
  background-color: var(--secondary-background-color);
}

#tab-list > li:only-child > div {
  display: none;
}

.running {
  background-color: var(--accent);
}

#autocomplete {
  position: fixed;
  font-size: 0.875rem;
}

.tag-autocomplete {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  padding: 0.5rem;

  outline: 1px solid var(--border-color);

  cursor: pointer;
}

.selected-tag-autocomplete {
  color: var(--accent);
  font-weight: bold;
  background-color: var(--primary-background-color);
}

.hide {
  display: none;
}

.tag-popularity {
  margin-left: 1rem;
  color: var(--secondary-text-color);
  font-weight: normal;
}

.tag-popularity:empty {
  margin-left: 0;
}

.controls-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.log {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: -1rem;
}

.log > li {
  padding: 0.5rem;
  border-top: 1px solid var(--border-color);
  border-radius: 0;
  font-size: 0.8rem;
  background-color: var(--secondary-background-color);

  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.log > li.error {
  background-color: var(--error);
  border-left: 0.5rem solid var(--border-color);
  border-bottom: 0.5rem solid var(--border-color);
}

#premade-tags {
  position: absolute;
  border: 1px solid var(--border-color);
  background-color: var(--secondary-background-color);
}

#premade-tags > li {
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  outline: 1px solid var(--border-color);
  cursor: pointer;
  border-radius: 0;
}
